<% if (user) { %>
    <h1 class="username"><%= user.username %>'s profile:</h1>
    <% if (userSystems) { %>
        <% let count = 1; %>
        <% userSystems.forEach((system) => { %>
            <div class="systemmm" class="system-list-node">System <%= count %>:  
                <p id="name-<%=count%>"><%= system.name %></p><br>
                <input class="profile-modify-button" id="display-button-<%=count%>" data-index="<%=count%>" type="button" value="modify/display">
                <input class="profile-delete-button" id="delete-button-<%=count%>" data-index="<%=count%>" type="button" value="delete">
            </div>  
            <% count++ %>
        <% }); %>
    <% } %>
<% } else { %>
    <h1 class="profiletag">USER IS NOT LOGGED IN</h1>
<% } %>